build/
node_modules/

$RECYCLE.BIN/
*.cab
*.iml
*.ipr
*.iws
*.lcov
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.pid
*.pid.lock
*.seed
*.stTheme.cache
*.stackdump
*.sublime-workspace
*.tgz
*.tmPreferences.cache
*.tmlanguage.cache
*.tsbuildinfo
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.cache
.com.apple.timemachine.donotpresent
.directory
.dynamodb/
.env
.env.test
.eslintcache
.fseventsd
.fuse_hidden*
.fusebox/
.grunt
.idea/
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/misc.xml
.idea/replstate.xml
.idea/sonarlint
.idea_modules/
.lock-wscript
.netrwhist
.next
.nfs*
.node_repl_history
.npm
.nuxt
.nyc_output
.out
.serverless/
.storybook-out
.tmp/
.vim
.vuepress/dist
.yarn-integrity
GitHub.sublime-settings
Icon
Network Trash Folder
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
Session.vim
Sessionx.vim
Temporary Items
Thumbs.db
Thumbs.db:encryptable
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Dd]esktop.ini
atlassian-ide-plugin.xml
bh_unicode_properties.cache
bower_components
build/Release
cmake-build-*/
com_crashlytics_export_strings.xml
coverage
crashlytics-build.properties
crashlytics.properties
dist/
ehthumbs.db
ehthumbs_vista.db
fabric.properties
jspm_packages/
lerna-debug.log*
lib-cov
logs
modules.xml
node_modules/
npm-debug.log*
oscrypto-ca-bundle.crt
out/
package-lock.json
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
sftp-config.json
tags
temp/
tmp/
typings/
yarn-debug.log*
yarn-error.log*

